.newEvent {
  flex: 4;
}

.addEventForm {
  margin-top: 10px;
}

.addEventItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addEventItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addEventItem > input {
  padding: 10px;
}

.addEventItem > select {
  padding: 10px;
}

.addEventButton {
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
