
.Sbar {
    background-color: rgba(0,0,0,.5);
    color: #fff;
    height: 80vh;
    width: 100%;
    position: relative;
    margin-bottom: 4rem;
}

.Sbar:before {
    content: '';
    background: url('C:\scholarship\src\asset\school.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}

.Sbar .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 550px;
    margin: auto;
    padding: 1rem;
}

.Sbar h1 {
    font-size: 3.5rem;
    text-transform: capitalize;
}

.Sbar .Stext {
    margin: 1.5rem;
    font-size: 1.4rem;
}

.search {
    display: flex;
    background-color: #fff;
    color: #333;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 8px;
}

.search input[type=text] {
    border: transparent;
    background-color: transparent;
    width: 400px;
    font-size: 1.2rem;
    font-family: sans-serif;
}

.search input[type=text]:focus {
    outline: none;
}

.search label {
    padding: 0 14px 0 8px;
}

.search button {
    background-image: linear-gradient(180deg, rgb(211, 167, 23), rgb(0, 0, 0));
    border: 1px solid #000001;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .Sbar {
        height: 70vh;
    }

    .Sbar h1 {
        font-size: 2.5rem;
    }

    .search input[type=text] {
        width: 100%;
    }
}












