html,
body,
#root {
  height: 100vh;
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  left: 0;
  bottom: 0;
  right: 0;
}

/* 
  A11Y SECTION 
  - skips: skip section of site these are typically the first set of focus
*/
.skips a {
  top: -3em;
  position: fixed;
  z-index: 1050;
  padding: 5px;
}

.skips a:focus {
  top: 15px;
  left: 15px;
}
